:root {
  --main-bg: #fff;
  --main: #000;
  --red: #ff5959;
  --green: #5bc35c;
  --light-green: #abe0ab;
  --light-red: #ff8a8a;
  --yellow: #fcd68a;
  --outline-blue: #3dc2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 20px;
}

button {
  border: none;
  outline: none;
  background-color: unset;
  cursor: pointer;
  color: var(--main);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

input {
  border: none;
  outline: none;
  background-color: unset;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: var(--main);
}

img {
  width: 100%;
  object-fit: contain;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--main);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
}

#root {
  width: 100%;
  max-width: 600px;
  position: relative;
  padding-bottom: 20px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 300px;
  padding: 0 20px;
  margin: 20px 0;
  overflow-y: scroll;
  position: relative;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  display: grid;
  place-items: center;
  width: 100%;
  transition: background-color 0.5s;
}

.modal-open .createTodoButton {
  transform: rotate(135deg);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@media (max-height: 650px) {

  main {
    padding: 0 20px 40px 20px;
  }

  footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: var(--main-bg);
    z-index: 2;
  }

  .modal-open {
    background-color: unset;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}